.stickPage{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-top:100px;
    align-items: center;
}
.stickTitle{
    font-size: 50px;
    text-align: center;
}
.stickDisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:85%;
    justify-content: center;
    align-items:center;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin:70px;
}
.addCartButton{
    background-color: rgb(20, 124, 243);
    color: white;
    border-radius: 20px;
    outline: none;
}
.addCartButton:hover{
    background-color: red;
}
.price{
    color: red;
}
.stickBrand{
    font-size:20px;
}
@media(max-width: 310px){
    .stickPage{
        padding-top: 150px;
    }
}